*{
    margin:0;
    padding: 0;
}
html{
     scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: OCR A Std, monospace;
}
h1{
    position: relative;
    text-align: center;
    color:#007765;
    top:20px;
    bottom: 10px;
    font-size: 64px;
    font-weight: 500;

}
p{
    position: relative;
    text-align: center;
}
.header{
    position: sticky;

    top:0;
    z-index: 2;
    width: 100%;
    height: 84px;
    background-color:#007765;
    box-shadow: 0 3px 10px #242323;
    
}

.header .h-left{
    float:left;
    margin:20px 10px;
    padding: 10px 10px;
}

.header .h-right{
    float:right;
    margin:20px 10px;
    padding: 10px 20px;
}

.header a{
    text-decoration: none;
    color:floralwhite;
    font-size: 24px;
    font-weight: 500;
    transition: 0.4s;
}
.header a:hover{
    transform: translateY(-3px);
    text-shadow: 0 0px 5px white;
    transition: 0.4s;
}
.header img{
    background-color: #EEEEEE;
    border-radius: 5px;
    transition: 0.5s;
}
.header img:hover{
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0 0px 5px white;

    
}
.content{
    padding: 0;
    display: block;
}
.landing{
    margin-top:0;
    width: 100%;
    height: 403px;
    background-image: url('nero1.png');
    display: flex;
    justify-content: center;
    align-items: center;
}


.landing h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.text-p{
    margin-bottom: 20px;
}

.the-problem{
    top: 487px;
    height: 719px;
    width: 100%;
    background-color:#EEEEEE;
}
.the-problem h1{
    margin-bottom: 20px;
}
.the-problem p{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 32px;
    font-weight:400;
}
.motivation{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    top:40%;
    background-image: url('nero2.jpg');
    color: white;
}

.motivation p{
    top:35%;
    font-weight: 500;
    font-size: 45px;
    margin-left: 20%;
    margin-right:20%;
}

.introducing{
    width: 100%;
    height: 600px;
    background-color:#FFFFFF;
}
.introducing img{
    float: left;
}
.introducing p{
    top:30px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 32px;
    font-weight: 400px;
}

.introducing img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transition: 0.9s;
}
.introducing img:hover{
    box-shadow: 0 5px 15px #007765;
    transform: translateX(-10px) translateY(-10px); 
    transition: 0.9s;
}

.team{
    width:100%;
    background-color: #EEEEEE;
    position: relative;
    
}
.team h1{
    margin: 0px 0 30px 0;
}
.all-card{
    display: flex;
    flex-wrap: wrap;

}
.all-card h1{
    text-align: center;
}
.member-card{
    width: 33%;
    margin-bottom: 40px;
}
.member-card img{
    border-radius: 100%;
    width: 168px;
    height: 168px;
    transition: 0.5s;
}
.member-card figcaption{
    text-align: center;
    color:#007765;
    font-size: 24px;
    font-weight: 700;
}
.member-card p{
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Italic;
}

.member-card img:hover{
    box-shadow:0 0 20px #007765;
    transition: 0.5s;
}
.end{
    width: 100%;
    height: 150px;
    background-color:#333333 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end p{
    position: absolute;
    left: 30%;
    right: 30%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color:#FFFFFF;
}